body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
    background-image: url("../../assets/futbol.jpg");
  
  }
  
  h1{
    text-align: center;
    color: aliceblue;
  }
  
  h2{
    color: aliceblue;
    background-color: black;
    text-align: center;
  }
  
  tr{
    text-align: center;
  }
  
  .resultado{
    font-size: 40px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: blanchedalmond !important;
    padding-top: 4%;
  }
  
  span{
    display: flex;
  }
  
  .hora{
    font-size: 20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgb(236, 175, 83) !important;
    text-align: center;
    padding-top: 5%;
  }