tr {
    text-align: center;
}

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 12px;

}

h1 {
    text-align: center;
    color: aliceblue;
}

h2 {
    color: aliceblue;
    background-color: black;
    text-align: center;
}

img{
    height: 25px;
    width: 25px;
}

.img-fix{
    height: 50px;
    width: 50px;
}

.goles{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 24px;
    color: lemonchiffon;
}
