th {
    text-align: center;
    font-size: 18px;
    background-color: blue;
    color: #ffffff;
}
th:hover{
    background-color: black;
    color: #ffffff !important;
}

td {
    text-align: center;
    font-size: 14px;
    color: blue;
}

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 12px;
    background-image: url("../../assets/futbol.jpg");
}

h1 {
    text-align: center;
}


img {
    height: 35px;
    width: 50px;
}

.table {
    background-color: #ffffff;
}

.goles{
    text-align: center;
    font-size: 24px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: black;
}

.logo-diagrama{
    height: 25px;
    width: 25px;
}

h5{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: white;
    color: black;
}