<body>
    <div class="container-fluid">
        <ul class="nav nav-pills justify-content-center">
            <li class="nav-item">
                <a class="nav-link" aria-current="page" routerLink="../yesterday">Ayer</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="">Hoy</a>
            </li>
            <li class="nav-item">
                <a class="nav-link " routerLink="../tomorrow">Mañana</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" routerLink="../standings">Posiciones</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="../fixture">Fixture</a>
            </li>
        </ul>
        <h1> <img src="{{b_metropolitana[0].league_logo}}" alt=""
                style="width: 300px !important; height: 150px !important; margin-top: 5%;"></h1>
        <div style="width: 50%; float: left; padding-right: 2%;" >
            <h2>Tabla de Posiciones</h2>

            <table class="table table-striped table-hover table-dark table-bordered">
                <thead class="table-light">
                    <tr>
                        <th class="col-1">#</th>
                        <th class="col-4">Equipo</th>
                        <th class="col-1">Pts</th>
                        <th class="col-1" style="color: green">G</th>
                        <th class="col-1" style="color: gray">E</th>
                        <th class="col-1" style="color: red">P</th>
                        <th class="col-1" style="color:darkgreen">G/F</th>
                        <th class="col-1" style="color: darkred">G/C</th>
                        <th class="col-1" style="color: lightseagreen">DIF</th>
                    </tr>
                </thead>
                <tbody *ngFor="let equipos of b_metropolitana; let i = index" [attr.data-index]="i">
                    <tr>
                        <td class="">{{i+1}}</td>
                        <td scope=""><img src="{{equipos.logo}}" alt=""> <br> {{equipos.name}} </td>
                        <td class="">{{equipos.points}}</td>
                        <td class="" style="color: rgb(129, 240, 129)">{{equipos.win}}</td>
                        <td class="" style="color: rgb(173, 171, 171)">{{equipos.draw}}</td>
                        <td class="" style="color: red">{{equipos.lose}}</td>
                        <td class="" style="color:rgb(194, 253, 194)">{{equipos.for}}</td>
                        <td class="" style="color: rgb(247, 185, 185)">{{equipos.against}}</td>
                        <td class="" style="color: lightseagreen">{{equipos.for - equipos.against}}</td>

                    </tr>
                </tbody>
            </table>
        </div>
        <div style="width: 50%; float: right; padding-left: 2%;">
            <h2>Tabla de Posiciones</h2>
            <table class="table table-striped table-hover table-dark table-bordered">
                <thead class="table-light">
                    <tr>
                        <th class="col-1">#</th>
                        <th class="col-4">Equipo</th>
                        <th class="col-1">Pts</th>
                        <th class="col-1" style="color: green">G</th>
                        <th class="col-1" style="color: gray">E</th>
                        <th class="col-1" style="color: red">P</th>
                        <th class="col-1" style="color:darkgreen">G/F</th>
                        <th class="col-1" style="color: darkred">G/C</th>
                        <th class="col-1" style="color: lightseagreen">DIF</th>
                    </tr>
                </thead>
                <tbody *ngFor="let equipos of primera_a; let i = index" [attr.data-index]="i">
                    <tr>
                        <td class="">{{i+1}}</td>
                        <td scope=""><img src="{{equipos.logo}}" alt=""> <br> {{equipos.name}} </td>
                        <td class="">{{equipos.points}}</td>
                        <td class="" style="color: rgb(129, 240, 129)">{{equipos.win}}</td>
                        <td class="" style="color: rgb(173, 171, 171)">{{equipos.draw}}</td>
                        <td class="" style="color: red">{{equipos.lose}}</td>
                        <td class="" style="color:rgb(194, 253, 194)">{{equipos.for}}</td>
                        <td class="" style="color: rgb(247, 185, 185)">{{equipos.against}}</td>
                        <td class="" style="color: lightseagreen">{{equipos.for - equipos.against}}</td>

                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>