tr {
    text-align: center;
}

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
    background-image: url("../../assets/futbol.jpg");

}

h1 {
    text-align: center;
    color: aliceblue;
}

h2 {
    color: aliceblue;
    background-color: black;
    text-align: center;
}