body{
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 18px;
  background-image: url("../../assets/futbol.jpg");

}

h1{
  text-align: center;
  color: aliceblue;
}

.title-h2{
  color: black;
  background-color: snow;
  text-align: center;
}

.title-h2-primera{
  color: snow;
  background-color: black;
  text-align: center;
}

tr{
  text-align: center;
  margin-top: 20px;
}

.resultado{
  font-size: 28px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.hora{
  font-size: 20px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: rgb(0, 85, 62) !important;
  padding-left: 25px;
}

.match{
  font-family:cursive;
  font-size: 10px;
  color: rgb(2, 85, 85);
}

.fa-soccer-ball-o{
  color:rgb(0, 0, 4);
  font-size: 14px;
  padding-right: 5px;
}

h2{
  margin-top: 2%;
}