body{
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 18px;
  background-image: url("../../assets/futbol.jpg");

}

h1{
  text-align: center;
  color: aliceblue;
}

h2{
  color: aliceblue;
  background-color: black;
  text-align: center;
}

tr{
  text-align: center;

}

.resultado{
  font-size: 28px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

span{
  display: flex;
}

.hora{
  font-size: 20px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: rgb(236, 175, 83) !important;
}

.match{
  font-family:cursive;
  font-size: 12px;
  text-align: center;
  color: rgb(2, 85, 85);
  padding: 3px;
}

.fa-soccer-ball-o{
  color:rgb(0, 0, 65);
  font-size: 22px;
  padding-right: 5px;
}

