<body>
    <h1>Partidos HOY en VIVO</h1>
    <div class="container">
        <header>
        </header>
        <section *ngIf="result.length > 0">
            <h2>Liga Argentina</h2>
            <table class="table table-striped table-hover table-dark">
                <thead class="table-light">
                    <tr>
                        <th class="col-3">Locales</th>
                        <th class="col-2">Resultado</th>
                        <th class="col-3">Visitantes</th>
                        <th class="col-1">Tiempo</th>
                    </tr>
                </thead>
                <tbody *ngFor="let partido of result; let i = index" [attr.data-index]="i">
                    <tr>
                        <td><img src="{{partido.home_team_logo}}" alt="" style="height: 50px;"><br>
                            {{partido.event_home_team}} <br>
                            <a class="btn btn-info" data-toggle="collapse" href="#local{{i}}" role="button"
                                aria-expanded="false" aria-controls="collapseExample"> Goles</a>
                            <div class="collapse" id="local{{i}}">
                                <div class="card card-body" style="color: black;">
                                    <ng-container *ngFor="let gol of partido.goalscorers" >
                                        <ng-container *ngIf="gol.home_scorer != '' ">
                                        {{gol.time}}' - {{gol.home_scorer}}.   
                                        </ng-container>
                                    </ng-container>
                                </div>
                            </div>
                        </td>
                        <td class="resultado">{{partido.event_final_result}}</td>
                        <td> <img src="{{partido.away_team_logo}}" alt="" style="height: 50px;"><br>
                            {{partido.event_away_team}} <br>
                            <a class="btn btn-primary" data-toggle="collapse" href="#visitante{{i}}" role="button"
                                aria-expanded="false" aria-controls="collapseExample"> Goles </a>
                            <div class="collapse" id="visitante{{i}}">
                                <div class="card card-body" style="color: black;">
                                    <ng-container *ngFor="let gol of partido.goalscorers">
                                        <ng-container *ngIf="gol.away_scorer != '' ">
                                            {{gol.time}}' - {{gol.away_scorer}}
                                        </ng-container>
                                    </ng-container>
                                </div>
                            </div>
                        </td>
                        <td>{{partido.event_status}}'</td>
                    </tr>
                </tbody>
            </table>
        </section>

        <section *ngIf="cArgentina.length > 0">
            <h2>Copa Argentina</h2>
            <table class="table table-striped table-hover table-dark">
                <thead class="table-light">
                    <tr>
                        <th class="col-3">Locales</th>
                        <th class="col-2">Resultado</th>
                        <th class="col-3">Visitantes</th>
                        <th class="col-1">Tiempo</th>
                    </tr>
                </thead>
                <tbody *ngFor="let partido of cArgentina; let i = index" [attr.data-index]="i">
                    <tr>
                        <td><img src="{{partido.home_team_logo}}" alt="" style="height: 50px;"><br>
                            {{partido.event_home_team}} <br>
                            <a class="btn btn-primary" data-toggle="collapse" href="#local{{i}}" role="button"
                                aria-expanded="false" aria-controls="collapseExample"> Goles</a>
                            <div class="collapse" id="local{{i}}">
                                <div class="card card-body" style="color: black;">
                                    <ng-container *ngFor="let gol of partido.goalscorers">
                                        <ng-container *ngIf="gol.home_scorer != '' ">
                                            {{gol.time}}' - {{gol.home_scorer}}
                                        </ng-container>
                                    </ng-container>
                                </div>
                            </div>
                        </td>
                        <td >{{partido.event_final_result}}</td>
                        <td> <img src="{{partido.away_team_logo}}" alt="" style="height: 50px;"><br>
                            {{partido.event_away_team}} <br>
                            <a class="btn btn-primary" data-toggle="collapse" href="#visitante{{i}}" role="button"
                                aria-expanded="false" aria-controls="collapseExample"> Goles </a>
                            <div class="collapse" id="visitante{{i}}">
                                <div class="card card-body" style="color: black;">
                                    <ng-container *ngFor="let gol of partido.goalscorers">
                                        <ng-container *ngIf="gol.away_scorer != '' ">
                                            {{gol.time}}' - {{gol.away_scorer}}
                                        </ng-container>
                                    </ng-container>
                                </div>
                            </div>
                        </td>
                        <td>{{partido.event_status}}'</td>
                    </tr>
                </tbody>
            </table>
        </section>


    </div>

    <footer class="bg-dark text-center text-white">
        <div class="container p-4">
            <!-- Section: Social media -->
            <section class="mb-4">
                <!-- Facebook -->
                <a class="btn btn-outline-primary btn-floating m-1" href="#!" role="button"><i
                        class="fab fa-facebook-f"></i></a>
                <!-- Twitter -->
                <a class="btn btn-outline-primary btn-floating m-1" href="#!" role="button"><i
                        class="fab fa-twitter"></i></a>
                <!-- Google -->
                <a class="btn btn-outline-warning btn-floating m-1" href="#!" role="button"><i
                        class="fab fa-google"></i></a>
                <!-- Instagram -->
                <a class="btn btn-outline-danger btn-floating m-1" href="#!" role="button"><i
                        class="fab fa-instagram"></i></a>
                <!-- Linkedin -->
                <a class="btn btn-outline-primary btn-floating m-1" href="#!" role="button"><i
                        class="fab fa-linkedin-in"></i></a>
                <!-- Github -->
                <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i
                        class="fab fa-github"></i></a>
            </section>
            Copyright JMR 2023 ©
        </div>
    </footer>
</body>