<body>
    <h1>Partidos HOY en VIVO</h1>
    <div class="container">
        <header>
            <ul class="nav nav-tabs mx-auto" id="myTab" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="ayer-tab" data-bs-toggle="tab" data-bs-target="#ayer" type="button"
                        role="tab" aria-controls="ayer" aria-selected="false">Ayer</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link active" id="hoy-tab" data-bs-toggle="tab" data-bs-target="#hoy"
                        type="button" role="tab" aria-controls="hoy" aria-selected="true">Hoy</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="mañana-tab" data-bs-toggle="tab" data-bs-target="#mañana" type="button"
                        role="tab" aria-controls="mañana" aria-selected="false">Mañana</button>
                </li>
            </ul>
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade" id="ayer" role="tabpanel" aria-labelledby="ayer-tab">
                    <div *ngIf="b_metropolitana.length > 0; else sinResultados">
                        <h2>{{b_metropolitana[0].cup_name}}</h2>
                        <table class="table table-striped table-hover table-dark">
                            <thead class="table-light">
                                <tr>
                                    <th class="col-1">Hora</th>
                                    <th class="col-3">Locales</th>
                                    <th class="col-3">Resultado</th>
                                    <th class="col-3">Visitantes</th>
                                    <th class="col-1">Tiempo</th>
                                    <th class="col-1">Goles</th>
                                </tr>
                            </thead>
                            <tbody *ngFor="let partido of b_metropolitana; let i = index" [attr.data-index]="i">
                                <tr *ngIf="partido.date[0] == ayer">
                                    <td class="hora">{{partido.date | date:"HH:mm" }} hs</td>
                                    <td style="text-align: right;"> {{partido.home_name}} <img src="{{partido.home_logo}}" alt="" style="height: 30px;"> </td>
                                    <td class="resultado">{{partido.home_goals}} - {{partido.away_goals}}</td>
                                    <td style="text-align: left;"> <img src="{{partido.away_logo}}" alt="" style="height: 30px;"> {{partido.away_name}} </td>
                                    <td>{{partido.time}}</td>
                                    <td>
                                        <!-- Button trigger modal -->
                                        <button type="button" class="btn btn-success" data-bs-toggle="modal"
                                            [attr.data-bs-target]="'#exampleModal'+partido.fixture_id"
                                            (click)="matchEvent(partido.fixture_id)"> <i class="fa fa-plus-circle"></i>
                                        </button>
                                        <!-- Modal -->
                                        <div class="modal fade" id="exampleModal{{partido.fixture_id}}" tabindex="-1"
                                            aria-labelledby="exampleModalLabel" aria-hidden="true">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h1 class="modal-title fs-5" id="exampleModalLabel"
                                                            style="color: black;">{{partido.cup_name}}</h1>

                                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                            aria-label="Close"></button>
                                                    </div>
                                                    <div class="modal-body" style="color: black;">
                                                        <h3>{{partido.round}}</h3>
                                                        <div class="row align-items-start">
                                                            <div class="col">
                                                                <img src="{{partido.home_logo}}" alt=""
                                                                    style="height: 50px;"><br>
                                                                {{partido.home_name}}
                                                            </div>
                                                            <div class="col" style="font-size: 32px; font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; padding-top: 10%;">
                                                               {{partido.home_goals}} - {{partido.away_goals}}
                                                            </div>
                                                            <div class="col">
                                                                <img src="{{partido.away_logo}}" alt=""
                                                                    style="height: 50px;"><br>
                                                                {{partido.away_name}}
                                                            </div>
                                                        </div>
                                                        <div class="row align-items-start">
                                                            <div class="col" style="text-align: center;">
                                                               <b>Partido Finalizado</b> <br>
                                                                {{partido.stadium}}

                                                            </div>
                                                        </div>
                                                        <ng-container *ngFor="let goleadores of goles">
                                                            <ng-container
                                                                *ngIf="partido.fixture_id == goleadores.fixture_id">
                                                                <ng-container
                                                                    *ngIf="goleadores.team_name == partido.home_name; else visitante">
                                                                    <div class="row align-items-start"
                                                                        style="border: solid 2px darkcyan">
                                                                        <div class="col">
                                                                            <span class="match">
                                                                                <i class="fa fa-soccer-ball-o"></i>
                                                                                {{goleadores.player}} -
                                                                                <span
                                                                                    style="color: red; padding-left: 5px; padding-right: 5px;">
                                                                                    <b> {{goleadores.time}}'
                                                                                        {{goleadores.extra}}</b>
                                                                                </span>
                                                                                {{goleadores.type}}
                                                                                {{goleadores.detail}}
                                                                            </span>
                                                                        </div>
                                                                        <div class="col"> </div>
                                                                        <div class="col"></div>
                                                                    </div>
                                                                </ng-container>
                                                                <ng-template #visitante>
                                                                    <div class="row align-items-start"
                                                                        style="border: solid 2px darkcyan">
                                                                        <div class="col"></div>
                                                                        <div class="col"></div>
                                                                        <div class="col">
                                                                            <span class="match">
                                                                                <i class="fa fa-soccer-ball-o"></i>
                                                                                {{goleadores.player}}
                                                                                <span
                                                                                    style="color: red; padding-left: 5px; padding-right: 5px;">
                                                                                    <b> {{goleadores.time}}'
                                                                                        {{goleadores.extra}}</b>
                                                                                </span>
                                                                                {{goleadores.type}}
                                                                                {{goleadores.detail}}
                                                                            </span>
                                                                        </div>
                                                                    </div>
                                                                </ng-template>
                                                            </ng-container>
                                                        </ng-container>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-primary"
                                                            data-bs-dismiss="modal">Cerrar</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <ng-template #sinResultados>
                        <h2> No hubo partidos en el dia de ayer</h2>
                    </ng-template>
                </div>
                <div class="tab-pane fade show active" id="hoy" role="tabpanel" aria-labelledby="hoy-tab">
                    <div *ngIf="b_metropolitana.length > 0; else sinResultado">
                        <h2>{{b_metropolitana[0].cup_name}}</h2>
                        <table class="table table-striped table-hover table-dark">
                            <thead class="table-light">
                                <tr>
                                    <th class="col-1">Hora</th>
                                    <th class="col-3">Locales</th>
                                    <th class="col-2">Resultado</th>
                                    <th class="col-3">Visitantes</th>
                                    <th class="col-1">Tiempo</th>
                                </tr>
                            </thead>
                            <tbody *ngFor="let partido of b_metropolitana; let i = index" [attr.data-index]="i">
                                <tr *ngIf="partido.date[0] == hoy">
                                    <td class="hora">{{partido.date | date:"HH:mm" }} hs</td>
                                    <td style="text-align: right;"> {{partido.home_name}} <img src="{{partido.home_logo}}" alt="" style="height: 30px;"> </td>
                                    <td class="resultado">{{partido.home_goals}} - {{partido.away_goals}}</td>
                                    <td style="text-align: left;"> <img src="{{partido.away_logo}}" alt="" style="height: 30px;"> {{partido.away_name}} </td>
                                    <td>{{partido.time}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <ng-template #sinResultado>
                        <h2> No hay partidos en el dia de hoy </h2>
                    </ng-template>
                </div>
                <div class="tab-pane fade" id="mañana" role="tabpanel" aria-labelledby="mañana-tab">
                    <div *ngIf="b_metropolitana.length > 0; else sinResultad">
                        <h2>{{b_metropolitana[0].cup_name}}</h2>
                        <table class="table table-striped table-hover table-dark">
                            <thead class="table-light">
                                <tr>
                                    <th class="col-1">Hora</th>
                                    <th class="col-3">Locales</th>
                                    <th class="col-2">Resultado</th>
                                    <th class="col-3">Visitantes</th>
                                    <th class="col-1">Tiempo</th>
                                </tr>
                            </thead>
                            <tbody *ngFor="let partido of b_metropolitana; let i = index" [attr.data-index]="i">
                                <tr *ngIf="partido.date[0] == manana">
                                    <td class="hora">{{partido.date | date:"HH:mm" }} hs</td>
                                    <td style="text-align: right;"> {{partido.home_name}} <img src="{{partido.home_logo}}" alt="" style="height: 30px;"> </td>
                                    <td class="resultado">{{partido.home_goals}} - {{partido.away_goals}}</td>
                                    <td style="text-align: left;"> <img src="{{partido.away_logo}}" alt="" style="height: 30px;"> {{partido.away_name}} </td>
                                    <td>{{partido.time}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <ng-template #sinResultad>
                        <h2> No hay partidos para el dia de mañana </h2>
                    </ng-template>
                </div>
            </div>
        </header>
    </div>
</body>